.last {
    border-right: 1 px solid gray;
}

.sign {
    position: relative;
    left: 26px;
}

.button {
    border-radius: 500px;
    border: 1px solid transparent;
    text-align: center;
    padding: 10px 28px;
    color: azure;
    background-color: dodgerblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serifF;
}