* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color:greenyellow;
}

.head {
    text-align: center;
}

.side {
    float: left;
    border: 1px solid red;
    margin-left: 10px;
}

.para {
    text-align: center;
    padding-top: 300px;
    margin: 30px 30px 30px 30px;
}

.hi  {
    border: 1px solid red;
}